@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Playball&family=Special+Elite&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title-font: "Playball", cursive;
  --joke-font: "Special Elite", cursive;
  --button-font: "Raleway", cursive;
  /* --color-primary: var(--color-primary); */
  /* --color-secondary: ; */
  /* --medium-color: ; */
  --accent: #64b6ac;
  --bg-light: #f8f0fb;
  --bg-dark: #8075ff;
  --main: #6320ee;
  --dark: #211a1d;
}

body {
  background-color: var(--bg-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container {
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
  width: 40vw;
  border-radius: 25px;
}

h2 {
  color: var(--accent);
  font-size: 2.5rem;
  font-family: var(--title-font);
}

h1 {
  margin: 1.5rem;
  color: var(--main);
  font-family: var(--joke-font);
  text-align: center;
}

.btn {
  font-family: var(--title-font);
  background-color: var(--accent);
  color: var(--bg-light);
  font-size: 2rem;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
  opacity: 0.95;
}
.btn:active {
  transform: scale(0.98);
}
